img {
  height: 300px;
  width: 300px;
}
body {
  background-color: rgb(230, 242, 249);
}

* {
  color: rgb(5, 5, 6);
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.description {
  color: darkslategray;
}

* {
  text-align: center;
}
